<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
	<div layout:fragment="dashboardfooter">
	
            <footer class="footer last">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul>

                        <li>
                            <a href="../about.html">
                               About Us
                            </a>
                        </li>
                        <li>
                            <a href="../blog.html">
                               Blog
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Licenses
                            </a>
                        </li>
								   <li>
                            <a href="#">
                                Terms and Conditions
                            </a>
                        </li>
						   <li>
                            <a href="../privacy_policy.html">
                                Privacy Policy
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="copyright pull-right">
                    &copy; <i class="fa "></i>  <a href="#"> All Right Reserved Ab.ove</a>
                </div>
            </div>
        </footer>
        
          </div>
          
          

</body>
</html>