<!DOCTYPE html>
<html class="no-js"  xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	lang="en">
<body>
<div layout:fragment="header">

<section id="social" class="social">
            <div class="container">
              <!-- Example row of columns -->
              <div class="row">
                <div class="social-wrapper">
                  <div class="col-md-6">
                    <div class="social-icon">
                      <a href="#"><i class="fa fa-facebook"></i></a>
                      <a href="#"><i class="fa fa-twitter"></i></a>
                      <a href="#"><i class="fa fa-google-plus"></i></a>
                      <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="social-contact">
                      <a href="#"><i class="fa fa-phone"></i>+1 898756644</a>
                      <a href="#"><i class="fa fa-envelope"></i>contact@ab.ovo.com</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /container -->       
          </section>

</div>
</body>
</html>